@model Post
@{
}

<style>
    .card{
        margin-top: 20px;
    }
</style>

<div class="card">
    <div class="card-header">
        <!--Menmapilkan judul blog yang dipilih-->
        <h2>@Model.Title</h2>
    </div>
    <div class="card-body">
        <!--Menampilkan isi data blog-->
        @Model.Content
    </div>
</div>